<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="name"
            />
            <span
              *ngIf="
                !recipeForm.get('name').valid && recipeForm.get('name').touched
              "
              [ngStyle]="{
                color:
                  !recipeForm.get('name').valid &&
                  recipeForm.get('name').touched
                    ? 'rgb(185, 84, 84)'
                    : ''
              }"
              >Recipe must have a name</span
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image Url</label>
            <input
              formControlName="imagePath"
              type="text"
              class="form-control"
              id="imagePath"
            />
            <span
              *ngIf="
                !recipeForm.get('imagePath').valid &&
                recipeForm.get('imagePath').touched
              "
              [ngStyle]="{
                color:
                  !recipeForm.get('imagePath').valid &&
                  recipeForm.get('imagePath').touched
                    ? 'rgb(185, 84, 84)'
                    : ''
              }"
              >Image URL is required</span
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" class="image-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              formControlName="description"
              type="text"
              class="form-control"
              id="name"
              rows="6"
            ></textarea>
            <span
              *ngIf="
                !recipeForm.get('description').valid &&
                recipeForm.get('description').touched
              "
              [ngStyle]="{
                color:
                  !recipeForm.get('description').valid &&
                  recipeForm.get('description').touched
                    ? 'rgb(185, 84, 84)'
                    : ''
              }"
              >Description is required</span
            >
          </div>

          <div class="row">
            <div class="col-xs-12" formArrayName="ingredients">
              <div
                class="row"
                *ngFor="let ingredientCtrl of controls; let i = index"
                [formGroupName]="i"
                style="margin-top: 0.3em"
              >
                <div class="col-xs-8">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                    placeholder="ex: onion"
                  />
                </div>
                <div class="col-xs-2">
                  <input
                    type="number"
                    formControlName="amount"
                    class="form-control"
                    placeholder="Qty"
                  />
                </div>
                <div class="col-xs-2">
                  <button type="button" class="btn btn-danger">X</button>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-xs-12">
                  <button
                    type="button"
                    (click)="onAddIngredient()"
                    class="btn btn-primary"
                  >
                    Add ingredient
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
